
/* Media queires */

@media screen and (min-width: 800px) {
  nav {
    .navbar-collapse {
      .search-sm {
        display: none !important;
      }
      .search-form {
        display: inline-flex;
      }
    }
    .search-form {
      display: inline-flex;
    }
    .navbar {
      .navbar-search-btn {
        display: none;
      }
      .navbar-header {
        a {
          margin-left: 25px;
        }
      }
      .navbar-userinfo {
        flex: auto;
        p {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 799px) {
  .main {
    .contacts {
      .contact-section {
        .contact-info {
          .number {
            display: none !important;
          }
        }
      }
    }
  }
  .contact-box {
    .contact-name {
      width: 100%;
    }
    .contact-pane {
      width: 100%;
      .contact-details {
        .edit-contact {
          width: 100%;
        }
      }
    }
  }
}