/* Contacts section */

.main {
  .contacts {
    margin-top: 35px;
    .contact-section {
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid slategray;
      margin-bottom: 10px;
      padding-bottom: 10px;
      .letters {
        display: inline-flex;
        color: $navbar-background-color;
        margin-left: 30px;
        font-size: 24px;
        margin-top: 4px;
      }
      .contact-wrapper {
        display: flex;
        flex: auto;
        flex-direction: column;
        .contact-info {
          margin-left: 70px;
          display: inline-flex;
          flex: auto;
          border: none;
          padding: 11px;
          outline: none;
          cursor: pointer;
          transition: 0.2s ease-in;
          background: none;
          &:hover {
            border: 1px solid lightgrey;
            border-left: 0;
            border-radius: 0;
          }
          .name {
            text-align: left;
            width: 50%;
          }
          .number {
            display: inline-flex;
            text-align: left;
            flex: auto;
          }
        }
      }
    }
  }
}